---
import SplineFullScreen from '../components/SplineFullScreen.astro';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Para jugar y eso</title>
    <style>
      body, html {
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
    </style>
  </head>
  <body>
    <SplineFullScreen />
  </body>
</html>

