---
const sceneUrl = "https://prod.spline.design/wce0RrUUq4l2OnXP/scene.splinecode";
---

<div id="spline-container" style="width: 100vw; height: 100vh;"></div>

<script
  type="module"
  src="https://unpkg.com/@splinetool/viewer@1.9.96/build/spline-viewer.js"
></script>